@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
   --dark-bg: #1f2937;
   --light-bg: #f9faf8;
   --secondary-txt: #e5e7eb;
   --button-c: #3882f6;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: var(--dark-bg);
  color: var(--secondary-txt);
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: var(--secondary-txt);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* Header */
.header {
  background-color: var(--dark-bg);
  color: var(--light-bg);
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 500px;
  border: 5px solid white;
  border-radius: 5px;
  margin: 100px auto 100px 50px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
    background-color: var(--secondary-txt); /* Green */
    border: none;
    border-radius: 5px;
    color: var(--dark-bg);
    font-weight: bolder;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: var(--dark-bg);
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.inner-box {
    flex: 1;
    background: white;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
  }

.box i {
  margin-right: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--dark-bg);
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}

.quotes {
    display: flex;
    background-color: var(--secondary-txt);
}

.quote {
    padding-top: 100px;
}
.quote, .quote-author {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    text-align: right;
    padding-bottom: 100px;
}
.box-text {
  text-align: center;
}
.box h2{
  padding-top: 15px;
}
.box-button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  
}

/* footer */
footer a {
  color: #e5e7eb;
}